.container{
    margin-top:0;
    margin-left:5%;
    margin-right:5%;
    background-color:rgb(163, 241, 235);

}
span{
    font-size:50px;
    color:red;
}
h1{
    font-weight:bold;
    font-size:40px;
    text-align:center;
    padding:40px;
    border:solid;
    
}

section{
    width:70%;
    float:left;
    margin-top:10px;
    padding:2px;
    margin-bottom:10px;
 
}

.topicChosen{
    border: dotted;
    border-color:red;
    margin-left:5px;
}

#input{
    margin-top:10px;
    padding:10px;
    width:25%;
    float:right;
}

